{% extends 'base.html' %}

{% block title %}
Register
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div id="reg_box">
            <h1>Register User</h1>

            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> {{error}}

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <form action="/auth/register" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        aria-describedby="usernameHelp" placeholder="Enter username" required>
                    <small id="usernameHelp" class="form-text text-muted">Username has to be unique</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Enter password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}