{% extends 'base.html' %}

{% block title %}
Welcome to Posts
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Posts</a>
    {% if  session%}
    <form class="form-inline" action="/auth/logout" method="POST">
        <small>Logged In as</small> <strong id="user">{{session['username']}} </strong>
        <button id="logout_button" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
    {% endif %}
</nav>
{% endblock navbar %}