#reg_box {
    align-items: center;
    padding-left: 30%;
    padding-top: 15%;
    padding-right: 25%;
}

#post_box {
    align-items: center;
    padding-left: 30%;
    padding-top: 10%;
    padding-right: 25%;
}

#posts {
    padding-top: 2.5%;
    padding-left: 2.5%;
}

#view_post {
    align-items: center;
    padding-left: 30%;
    padding-top: 10%;
    padding-right: 25%;
}

#username,
#password,
#title,
#body {
    width: 80%;
}

#logout_button {
    margin: 10px;
}

#user {
    margin-left: 5px;
}